InstagramClone.xcworkspace/xcuserdata/cinch.xcuserdatad/*
InstagramClone.xcworkspace/xcuserdata/*
InstagramClone.xcworkspace/xcuserdata
Pods/Pods.xcodeproj/xcuserdata/*
.DS_Store
InstagramClone.xcworkspace/xcuserdata/*
InstagramClone/.DS_Store
Cinch.xcodeproj/xcuserdata/cinch.xcuserdatad/xcschemes/xcschememanagement.plist
Cinch.xcworkspace/xcuserdata/cinch.xcuserdatad/UserInterfaceState.xcuserstate
Pods/Pods.xcodeproj/xcuserdata/cinch.xcuserdatad/xcschemes/xcschememanagement.plist
