<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>516024888677-nkr76v6enee5upjokr6p20k5eb515g46.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.516024888677-nkr76v6enee5upjokr6p20k5eb515g46</string>
	<key>API_KEY</key>
	<string>AIzaSyBxfxcU1I5KdGTagKDG1Q7nYWMQI0I8jyQ</string>
	<key>GCM_SENDER_ID</key>
	<string>516024888677</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cinch.InstagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-18923</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-18923.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:516024888677:ios:5e14fd541cb4d19b</string>
	<key>DATABASE_URL</key>
	<string>https://instagramclone-18923.firebaseio.com</string>
</dict>
</plist>
